*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #d3f5ff;
}
h1{
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 60px;
}
.title{
    margin: 0 auto;
    font-size: 100px;
    padding: 400px 0 0 0 ;
}
#battleshipImg{
    width: 600px;
    position: absolute;
    bottom: -75px;
    z-index: -1;
    height: auto;
    animation: animate 3s linear infinite;
    /* animation-delay: 0s; */
}
@keyframes animate {
    0%,100% { transform: translate(0,0); }
    50%     { transform: translate(0,10px); }
}
#pageLink{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 25px;
    background-color: #74e1ff;
    border-radius: 5px;
    width: 150px;
    height: 2em;
    margin: 0 auto;
    line-height: 2em;
}
#pageLink:hover{
    background-color: #1E7DEA;
    color: white;
}

#gameBoards{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}
@media(max-width: 500px){
    #gameBoards{
        flex-wrap: wrap;
    }
}

#GBPlayer, #GBCpu{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    width: 300px;
    height: 300px;
    gap: 2px;
    margin: 20px 0;
}

.GBPLayerEl, .GBCpuEl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #6acde9;   

}
#gameInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30 auto;
}
.shipEl{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(153, 145, 145);
    border: 1px solid rgb(95, 91, 91);
}
.cpuShipEl{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(182, 31, 31);
}
/* Ship Bay*/
#shipBay{
    /* display: flex;
    flex-wrap: wrap; */
    position: relative;
    width: 200px;
    height: 300px;
    margin: 40px auto 0 auto;
    border: 2px solid black;
    border-radius: 5px;
}
#shipBayLabel{
    display: block;
    width: 100%;
    height: 1em;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.shipBlock{
    display: inline-block;
}
.destroyer, .submarine, .cruiser, .battleship, .carrier{
    display: grid;
    gap: 2px;
}

#rotateButton{
    display: block;
    position: absolute;
    left: 20px;
    top: 270px;
    margin: 0 auto 10px auto;
    width: 80%;
    height: 2em;
    background-color: rgb(58, 113, 216);
    color: rgb(167, 219, 252);
    border-radius: 5px;
    border: none;
}
#rotateButton:hover{
    color: rgb(58, 113, 216);
    background-color: rgb(167, 219, 252);
}
.hide {
    display: none!important;
    overflow: hidden;
}
.drag-over {
    border: solid 1px red;
}

/* Game Pieces */
.guess{
    width: 30%;
    height: 30%;
    border-radius: 50%;
}
#hit{
    background-color: red;
    width: 8px;
    height: 8px;
}
#miss{
    background-color: white;
    width: 8px;
    height: 8px;
}

/* section{
    position: relative;
    width: 100%;
    height: 400px;
}
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/Labs/Battleship/Files/wave.png);
    background-size: 1000px 100px;
}
section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 20px;
}
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 30px;
}
section .wave.wave3{
    animation: animate2 25s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 25px;
}
section .wave.wave3{
    animation: animate2 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 40px;
}
@keyframes animate {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position: 1000px;
    }

}
@keyframes animate2 {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position: -1000px;
    }

} */
.LightWaves {
    animation: lightwaves 2s infinite;
    position: relative;
  }
  
  @keyframes lightwaves {
      0%,100% { transform: translate(0,0); }
      25%     { transform: translate(5px,5px); transform: scale(1.05); }
      50%     { transform: translate(25px, 5px); }
      75%     { transform: translate(12px,10px); transform: scale(1.05); }
  }
  
  .DarkWaves {
    animation: darkwaves 3.8s infinite;
  }
  
  @keyframes darkwaves {
      0%,100% { transform: translate(0,0); }
      25%     { transform: translate(25px, 5px); transform: scale(1.05); }
      50%     { transform: translate(12px,10px); }
      75%     { transform: translate(5px,5px); }
  }
  
  .WhiteWaves {
    animation: whitewaves 4s alternate ease infinite;
  }
  
  @keyframes whitewaves {
      0% { transform: translate(0,25px); }
      100%     { transform: translate(25px,35px); }
  }
  
  